/*font-family: 'Karla', sans-serif;
font-family: 'Licorice', cursive;
font-family: 'Poppins', sans-serif;

color: #F9A826*/

h1 {
  font-family: "Poppins", sans-serif;
  color: #f9a826;
  font-size: 50px;
}

h2 {
  font-weight: normal;
  margin-top: 20px;
}

img {
  width: 500px;
}

.welcome-message {
  text-align: center;
  font-family: "Karla", sans-serif;
  color: #3f3d56;
}

.welcome-message p {
  margin-top: 150px;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 0;
}

.welcome-image {
  margin-top: 30px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  margin-top: 20px;
}

.contact-icon {
  color: #f9a826;
}
