/*font-family: 'Karla', sans-serif;
font-family: 'Licorice', cursive;
font-family: 'Poppins', sans-serif;

color: #F9A826*/

h1,
h2,
h3 {
  text-align: center;
  color: purple;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #3f3d56;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #f9a826;
}

h3 {
  font-family: "Karla", sans-serif;
  font-weight: 300;
  color: #3f3d56;
}

img {
  width: 500px;
}

.welcome-message {
  margin-top: 150px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  margin-top: 20px;
}

.contact-icon {
  color: #f9a826;
}
